/**
 * Project: Project name
 * File:    Main SCSS
 */

@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// // Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
body {
    margin: 0;
    padding: 0;
}

// Remove <figure> margin
.interactive {
    margin: 0 !important;
    overflow: hidden;
    position: relative;
}

.gv-container {
    overflow: hidden;
}


.loaded .gv-wrapper,
.loaded .gv-fallback-container,
.loaded #webgl,
.loaded .gv-pagination {
  opacity: 1;
}


// Note: Access images using absolute '/imgs/' paths
.gv-wrapper {
    opacity: 0;
    transition: 1s opacity;
    margin: 0 auto;
    // height: 100vh;
    position: relative;
    z-index: 400;

    // Pass through pointer events to WebgGL
    pointer-events: none;

    // Breakpoints
    @include mq(tablet) {
        max-width: gs-span(9) + $gs-gutter*2;
    }

    @include mq(desktop) {
        max-width: gs-span(12) + $gs-gutter*2;
    }

    @include mq(leftCol) {
        padding-left: 0;
        padding-right: 0;
        max-width: gs-span(14) + $gs-gutter*2;
    }
    @include mq(wide) {
        width: gs-span(16) + $gs-gutter*2;
        max-width: none;
    }
}


.gv-header {
    padding: 10px $gs-gutter;
    margin: 0;
}


#webgl {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    opacity: 0;
    transition: 1s opacity;
}


.gv-header {
    display: none;
}


// Fix dat.gui bug
.dg.a.has-save ul {
    margin-top: 0;
}
.dg.a.has-save > ul {
  margin-top: 27px;
}



.gv-modal {
  opacity: 0.9;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;

  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  padding: 10px 10px 60px;

  @media (max-width: 360px) {
    p {
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 12px;
    }
  }


  @media (max-width: 660px) {
    padding: 10px 20px 60px;
    .gv-section-title {
      display: none;

    }
  }


  @include mq(phablet) {
    bottom: auto;
    left: 70px;
    top: 0;
    width: 40%;
    max-width: 330px;
    padding: 20px;
  }


  h1, h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    line-height: 1.1em;
    font-weight: bold;
    font-size: 20px;
  }

  > p {
      margin-top: 0;
  }

}

.gv-section-title {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  pointer-events: all;
}

.gv-modal-count {
  font-size: 12px;
  color: #6F6F6F;
}

.gv-modal-img {
    float: right;
    margin: 0 0 4px 4px;
    width: 100%;
    max-width: 90px;

    @include mq(mobileLandscape) {
      max-width: 120px;
    }

    @include mq(tablet) {
      max-width: none;
      float: none;
      margin: 0 0 10px 0;
    }
}


.gv-arrow {
  pointer-events: all;
  cursor: pointer;
  opacity: 0;
  cursor: pointer;
  height: 60px;
  position: absolute;
  pointer-events: all;
  bottom: 20px;
  width: 33%;
  height: 73%;
  z-index: 200;
  opacity: 0;



  @include mq(tablet) {
    transform: none;
    top: auto;
    width: 40px;
    height: 40px;
    bottom: 47%;
    padding: 10px;
    border-radius: 50%;
    opacity: 0.6;
  }


}

.gv-arrow.gv-arrow-next.gv-arrow-next-real:hover,
.gv-arrow.gv-arrow-previous:hover {
    opacity: 1;
}

.loaded .gv-arrow {
  opacity: 0.6;
  transition: 0.5s opacity;
}

.gv-arrow-icon-wrapepr {
    background-color: rgba(249, 181, 0, 0.8);
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;


  @include mq(tablet) {
    bottom: 10%;
    top: 50%;
    top: auto;
    width: 30px;
    height: 30px;
  }
}


.gv-arrow-icon-wrapepr-next {
  left: auto;
  right: 20px;

  @include mq(tablet) {
    top: auto;
  }

}

.gv-arrow-icon-wrapepr-previous {
  left: 20px;
  right: auto;

  @include mq(tablet) {
    top: auto;
  }
}

.gv-arrow-next {
  right: 0;
  left: auto;
}

.gv-arrow-previous {
  left: 0;
  right: auto;
}

.gv-arrow-icon {
  background: no-repeat;
  background-position: 0 0;
  height: 20px;
  width: 20px;
  background-size: contain;
  display: inline-block;

  @include mq(tablet) {
    width: 30px;
    height: 30px;
  }
}

.gv-arrow-icon-next {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGUvPjxkZXNjLz48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJNMjMgMTEuNUwxMi43MDQgMjEuNmwtLjk2LS45NkwxOS44IDEySDB2LTJoMTkuOEwxMS43NDUuOTZsLjk2LS45NkwyMyAxMC41djEiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNMTEgMzIuMzEzQy0uNzUgMzIuMzEzLTEwLjMxIDIyLjc1My0xMC4zMSAxMWMwLTExLjc1IDkuNTYtMjEuMzEyIDIxLjMxMy0yMS4zMTIgMTEuNzUyIDAgMjEuMzEzIDkuNTYgMjEuMzEzIDIxLjMxMlMyMi43NTMgMzIuMzEzIDExIDMyLjMxM00xMS0xMWMtMTIuMTUgMC0yMiA5Ljg1LTIyIDIyczkuODUgMjIgMjIgMjIgMjItOS44NSAyMi0yMi05Ljg1LTIyLTIyLTIyIiBmaWxsPSIjNzA3MDcwIi8+PC9nPjwvc3ZnPg==');
}

.gv-arrow-icon-previous {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGUvPjxkZXNjLz48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJNMCAxMS41bDEwLjI5NiAxMC4xLjk2LS45NkwzLjIgMTJIMjN2LTJIMy4yTDExLjI1NS45NmwtLjk2LS45NkwwIDEwLjV2MSIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0xMSAzMi4zMTNDLS43NSAzMi4zMTMtMTAuMzEgMjIuNzUzLTEwLjMxIDExYzAtMTEuNzUgOS41Ni0yMS4zMTIgMjEuMzEzLTIxLjMxMiAxMS43NTIgMCAyMS4zMTMgOS41NiAyMS4zMTMgMjEuMzEyUzIyLjc1MyAzMi4zMTMgMTEgMzIuMzEzTTExLTExYy0xMi4xNSAwLTIyIDkuODUtMjIgMjJzOS44NSAyMiAyMiAyMiAyMi05Ljg1IDIyLTIyLTkuODUtMjItMjItMjIiIGZpbGw9IiM3MDcwNzAiLz48L2c+PC9zdmc+');
}


.gv-pagination {
  opacity: 0;
  transition: 1s opacity;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 501;
  width: 172px;
}

.gv-pagination-dot {
  width: 6px;
  height: 6px;
  background-color: rgba(0,0,0,0.2);
  float: left;
  margin: 0 3px;
  border-radius: 50%;

  &.active {
      background-color: rgba(0,0,0,0.7);
  }
}


.gv-labels {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}
.gv-label {
  position: absolute;
 font-size: 18px;
 font-weight: bold;
 font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
 color: #FFF;
 width: 160px;
 line-height: 1em;

  p {
    margin: 0;
  }


}

.gv-label-elv {
  color: #CCC;
  font-weight: normal;
  display: inline-block;
  font-size: 11px;
  display: block;

}


// Chapter specific styles

#intro {

  .gv-modal {
    h1 {
      font-size: 25px;
      font-weight: bold;
      margin-top: .2em;
      margin-bottom: .4em;

      @include mq(tablet) {
        font-size: 42px;
        font-weight: lighter;
      }
    }
  }

  .gv-section-title {
    font-size: 16px;
    @include mq(tablet) {
      font-size: 20px;
    }
  }
    .gv-modal-img {
      @include mq(tablet) {
        max-width: 380px;
        float: none;
      }
    }

  .gv-arrow {
    opacity: 1;
  }
}


#ch0, #ch1a, #ch1b  {
  .gv-label {
    color: #525252;
    display: none;

    &:first-child,
    &:last-child {
      display: block !important;
      background-color: rgb(255, 255, 255);
      padding: 3px 4px;
      width: auto;
      padding: 5px;
      text-align: center;
      transform: translate(-50%, 0%);
      border-radius: 2px;
  }


  }

  .gv-label-number {
    display: none;
  }

  .gv-label-elv {
      color: #2A2A2A;
      font-size: 17px;
  }
}


.gv-fallback-container {
  transition: 1s opacity;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  pointer-events: none;
}


.gv-mobile .gv-fallback-image {
  width: 101%;
  height: auto;
}

.gv-fallback-image {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translateX(-50%);
  transition: 0.5s opacity;

  &.active {
    opacity: 1;
    transition: 1s opacity;
  }

  &.hide {
    opacity: 0;
    transition: 2s opacity;
  }
}


.loaded .gv-loader {
  opacity: 0;
}

.gv-loader {
  // display: none;
  z-index: 300;
  opacity: 1;
  transition: 1s opacity;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  font-size: 22px;
  text-align: center;

  p {
    margin: 0;
  }
}

.gv-progress {
  font-size: 16px;
}


.gv-list {
    margin: 10px 10px 19px;
    padding-left: 1.2em;


    @media (max-width: 360px) {
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 12px;
    }

   span {
    font-weight: bold;
   }
}

.meta__social {
    pointer-events: all;
  border: none;
  margin: 0 auto;
  width: 120px;
  display: block;
  margin-bottom: -19px;
  transform: translateX(7px);

   @include mq(tablet) {
      transform: none;
       width: auto;
       margin-bottom: auto;
   }
}

#intro {
  .gv-arrow-previous {
    opacity: 0;
  }

  .gv-arrow-next {
    opacity: 0;
  }

   .gv-arrow-begin {
     opacity: 1;
   }

}

#intro.loaded .gv-arrow-begin {
  opacity: 1;
}


#ch7 {
  .gv-arrow-next {
    opacity: 0;
  }

  .gv-arrow-previous {
    opacity: 1;
    .gv-arrow-icon-wrapepr {
      background-color: #F9B500;
    }
  }
}

.loaded .gv-arrow-begin {
  opacity: 0;
}

 .gv-arrow-begin {
    opacity: 0;
    background-color: #F9B500;
    color: #fff;
    border-radius: 60px;
    width: 110px;
    font-size: 19px;
    padding: 3px 2px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    transform: translate(-8px, -8px);
    right: 9px;



    .gv-arrow-icon-wrapepr {
      background-color: transparent;
      width: auto;
      padding: 0;
      top: 8px;
      right: 13px;
    }

    .gv-arrow-icon {
      vertical-align: middle;
    }

    .gv-begin {
      display: inline-block;
    }

    @media (max-width: 740px) {
        height: 41px;
        font-size: 16px;
        padding: 0;
        width: 92px;
        bottom: 12px;
        right: 10px;
        width: 42px;

         .gv-begin {
           display: none;
         }
      }
  }

.gv-credit-title {
  font-weight: bold;
}
.gv-credit-photos {
  font-size: 12px;
}


.svg .social-icon i {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -webkit-background-size: 88% 88%;
  background-size: 88%;
  background-position: center;
}

.social__item {
  float: left;
  min-width: 35px;
  padding: 0 0.1875rem 0.375rem 0;
}

.social-icon {
  border: 0;
    min-width: 32px;
  max-width: 100%;
  width: auto;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rounded-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 30px;
}


.meta__social {
  border-top: none;
  padding: 0;
  box-sizing: border-box;
}

.meta__social {
  pointer-events: all;
  border: none;
  margin: 0 auto;
  width: 120px;
  display: block;
  margin-bottom: -30px;
  -webkit-transform: translateX(7px);
  -ms-transform: translateX(7px);
  transform: translateX(7px);

  @media (min-width: 46.25em) {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: auto;
  margin-bottom: auto;
  }

}

.social {
  overflow-y: hidden;
  height: 32px;
}
.u-unstyled, .inline-list, .linkslist {
  margin: 0;
  list-style: none;
  padding: 0;
}

.u-h {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 0.0625rem !important;
  margin: -0.0625rem !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0.0625rem !important;
}

.social-icon--facebook {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xNy45IDE0aC0zdjhIMTJ2LThoLTJ2LTIuOWgyVjguN0MxMiA2LjggMTMuMSA1IDE2IDVjMS4yIDAgMiAuMSAyIC4xdjNoLTEuOGMtMSAwLTEuMi41LTEuMiAxLjN2MS44aDNsLS4xIDIuOHoiLz48L3N2Zz4=');
  background-color: #3067a3;
}

.social-icon--twitter {
  background-color: #03b3ee;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMS4zIDEwLjV2LjVjMCA0LjctMy41IDEwLjEtOS45IDEwLjEtMiAwLTMuOC0uNi01LjMtMS42LjMgMCAuNi4xLjguMSAxLjYgMCAzLjEtLjYgNC4zLTEuNS0xLjUgMC0yLjgtMS0zLjMtMi40LjIgMCAuNC4xLjcuMWwuOS0uMWMtMS42LS4zLTIuOC0xLjgtMi44LTMuNS41LjMgMSAuNCAxLjYuNC0uOS0uNi0xLjYtMS43LTEuNi0yLjkgMC0uNi4yLTEuMy41LTEuOCAxLjcgMi4xIDQuMyAzLjYgNy4yIDMuNy0uMS0uMy0uMS0uNS0uMS0uOCAwLTIgMS42LTMuNSAzLjUtMy41IDEgMCAxLjkuNCAyLjUgMS4xLjgtLjEgMS41LS40IDIuMi0uOC0uMy44LS44IDEuNS0xLjUgMS45LjctLjEgMS40LS4zIDItLjUtLjQuNC0xIDEtMS43IDEuNXoiLz48L3N2Zz4=');
}

.social-icon--email {
  background-color: #767676;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMC4yIDExLjdsLS40LS40LTUuNyAyLjctNS43LTIuNy0uMy40IDYgNC45IDYuMS00Ljl6TTIxLjQgN0g2LjVMNSA5LjV2OS4zTDYuNiAyMGgxNC45bDEuNS0xLjJWOS41TDIxLjQgN3ptLS41IDEwLjhINy4xVjkuMmgxMy44djguNnoiLz48L3N2Zz4=');
}




.dg.ac {
  z-index: 90000;

  select {
    color: #000 !important;
  }
}