/**
 * Project: Project name
 * File:    Main SCSS
 */
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
body {
    margin: 0;
    padding: 0;
}

// Remove <figure> margin
.interactive {
    margin: 0;
}

.gv-container {
    overflow: hidden;
}

// Note: Access images using absolute '/imgs/' paths
.gv-wrapper {
    margin: 0 auto;
    height: 100vh;
    position: relative;

    // Pass through pointer events to WebgGL
    pointer-events: none;

    // Breakpoints
    @include mq(tablet) {
        max-width: gs-span(9) + $gs-gutter*2;
    }

    @include mq(desktop) {
        max-width: gs-span(12) + $gs-gutter*2;
    }

    @include mq(leftCol) {
        padding-left: 0;
        padding-right: 0;
        max-width: gs-span(14) + $gs-gutter*2;
    }
    @include mq(wide) {
        width: gs-span(16) + $gs-gutter*2;
        max-width: none;
    }
}

.gv-header {
    padding: 10px $gs-gutter;
    margin: 0;
}


#webgl {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}


.gv-header {
    text-shadow: 0 0 12px #FFF;
    display: none;
}


// Fix dat.gui bug
.dg.a.has-save ul {
    margin-top: 0;
}
.dg.a.has-save > ul {
  margin-top: 27px;
}



.gv-modal {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px 8px;
  border-radius: 2px;
  width: 40%;
  max-width: 380px;
  font-size: 12px;
  font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  opacity: 1;

  position: absolute;
  bottom: 6%;
  left: 3%;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
    border: solid 3px rgba(255, 255, 255, 1);
    width: calc(100% + 2px);
    min-height: calc(100% + 2px);
    z-index: 10;
    border-radius: 4px;
  }

  > p {
      margin-top: 0;
  }
}

.gv-modal-img {
    width: 100%;
}


.gv-arrow {
    width: 1em;
    height: 1em;
}

.gv-arrow-next {
   
}

.gv-arrow-previous {

}


.gv-pagination {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.gv-pagination-dot {
  width: 10px;
  height: 10px;
  background-color: rgba(0,0,0,0.2);
  float: left;
  margin: 0 7px;
  border-radius: 50%;

  &.active {
      background-color: rgba(0,0,0,0.7);
  }
}